* { 
    font-family: 'Vazirmatn', 'Rubik';
}

body {
    margin: 0;
}

/* buttons */
button {
    color: #03183B;
    border: 2px solid #03183B;
    background-color: #D9D9D9;
    border-radius: 9px;
    
    transition: all 0.15s;
}
button:hover {
    background-color: #BAC4D5;
}
button:active {
    background-color: #909AAB;
}